<%- layout('layouts/boilerPlate') %>
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <strong>Error!</strong> <%= message %>
  <button
    type="button"
    class="btn-close"
    data-dismiss="alert"
    aria-label="Close"
  ></button>
</div>
